<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- bean definitions here -->
    <bean id="database" class="com.springcore.Database">
        <property name="port" value="3306"/>
        <property name="name" value="mysql"/>
    </bean>

    <!--<bean name="tea" class="com.springcore.restaurant.Tea">-->
    <!--</bean>-->
    <!--<bean id="expressTea" class="com.springcore.restaurant.ExpressTea">-->
    <!--</bean>-->
    <!--<bean name="teaRestaurant" class="com.springcore.restaurant.Restaurant">-->
        <!--<property name="hotDrink" ref="tea"/>-->
    <!--</bean>-->
    <bean name="expressTeaRestaurant" class="com.springcore.restaurant.Restaurant">
        <property name="hotDrink">
            <bean id="expressTea" class="com.springcore.restaurant.ExpressTea"/>
        </property>
    </bean>
    <bean name="complexBean" class="com.springcore.Complex">
        <property name="list">
            <list>
                <value>Hydrogen</value>
                <value>Argon</value>
                <value>Helium</value>
            </list>
        </property>
        <property name="set">
            <set>
                <value>New Delhi</value>
                <value>Noida</value>
                <value>Gurgaon</value>
            </set>
        </property>
        <property name="map">
            <map>
                <entry key="India" value="New Delhi"/>
                <entry key="UK" value="London"/>
                <entry key="US" value="New York"/>
            </map>
        </property>
    </bean>

    <bean name="tea" class="com.springcore.restaurant.Tea"></bean>
    <bean name="hotDrink" class="com.springcore.restaurant.ExpressTea"></bean>
    <!--<bean name="restaurant2" class="com.springcore.restaurant.Restaurant" autowire="byType"/>-->
    <bean name="restaurant2" class="com.springcore.restaurant.Restaurant" autowire="constructor" scope="prototype"/>
</beans>